.link {
    text-decoration: none;
    padding-right: 10px;
}

.activeLink {
    text-decoration: dotted ;
    padding-right: 10px;
    font-weight: 500;
    font-size: large;
    text-shadow: 2px 2px 2px rgb(221, 221, 221);
}